<div class="jumbotron text-center">

</div>

<div class="container">

	<h1>Edit</h1>

	<%= form_for(@user, html: { multipart: true }) do |f| %>

		<%= f.label :name %>
		<%= f.text_field :name %>

		<%= f.file_field :image %>		

		<%= f.submit "Save Changes" %>
	<% end %>
</div>