<div class="jumbotron text-center">

</div>
<div class = "container">
<div class = "row">
<h2><%= @album.name %></h2>
		<table class = "table">
			<thead>
				<th> Album Name </th>
				<th> Description </th>
				<th> Updated </th>
				<th> User </th>
				<th> Edit </th>
				<th> Delete </th>
			</thead>

			<tbody>
				<tr>
					<td>
					<%= @album.name %> 
					</td>
					<td>
					<%= @album.description %>
					</td>
					<td>
					Updated at <%= @album.updated_at.strftime("%d %b %Y, %T") %>
					</td>
					<td>
					<%= @user.try(:email) %>
					</td>
					<td>
					<%= link_to edit_album_path(id: @album), class: 'btn btn-primary btn-xs' do%>
                	<i class = "glyphicon glyphicon-pencil"></i> 
                	<%end%>
					</td>

					<td>
					<%= link_to album_path(id: @album), 
					method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' do%>
                	<i class = "glyphicon glyphicon-remove"></i> 
                	<%end%>
					</td>
					</tr>
		</table>
</div>

<div class = "col-md-2">
	<h2> Photos </h2>
</div>
<div class = "col-md-4">
	<span class = "row"><%= link_to 'new photo', new_album_photo_path(album_id: @album.id) , class: 'btn btn-success btn-xs'%></span>
</div>


<div class = "col-md-12">
	<table>

		<% @photo.each do |photo| %>
		<tr>
			<td> <strong>Title </strong></td>
			<td> <%= photo.title %></td>
		</tr>
		<tr>
			<td> <strong>Photo </strong></td>
			<td>
				<%= link_to(image_tag(photo.image.thumb.url, alt: 'Image'), photo.image.url, target: '_blank') if photo.image?%>
			</td>
		</tr>
		<tr>
			<td> <strong>Description </strong></td>
			<td><%= photo.description %></td>
		</tr>
		<tr>
			<td>
				<%= link_to 'edit photo', edit_album_photo_path(album_id: @album.id, id: photo.id), class: 'btn btn-primary btn-xs' %>
			</td>
			<td> 
				<%= link_to 'delete photo', album_photo_path(album_id: @album.id, id: photo.id), method: :delete, class: 'btn btn-danger btn-xs' %> 		
			</td>
			<td>
				<%= link_to 'Comments', album_photo_path(album_id: @album.id, id: photo.id), class: 'btn btn-warning btn-xs'%>
			</td>
			<% end %>
		</tr>
	</table>
</div>
