<div class = "container">
<div class = "row">
<h2><%= @album.name %></h2>
		<table class = "table">
			<thead>
				<th> Album Name </th>
				<th> Description </th>
				<th> Updated </th>
				<th> User </th>
				<th> Edit </th>
				<th> Delete </th>
			</thead>

			<tbody>
				<tr>
					<td>
					<%= @album.name %> 
					</td>
					<td>
					<%= @album.description %>
					</td>
					<td>
					Updated at <%= @album.updated_at.strftime("%d %b %Y, %T") %>
					</td>
					<td>
					<%= @user.try(:email) %>
					</td>
					<td>
					<%= link_to edit_album_path(id: @album), class: 'btn btn-primary btn-xs' do%>
                	<i class = "glyphicon glyphicon-pencil"></i> 
                	<%end%>
					</td>

					<td>
					<%= link_to album_path(id: @album), 
					method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' do%>
                	<i class = "glyphicon glyphicon-remove"></i> 
                	<%end%>
					</td>
					</tr>
		</table>
</div>

<table class = "table">
		<% @photo.each do |photo| %>
	<tr>
		<td>
			<%= image_tag photo.image.thumb.url if photo.image?%>
		</td>
		<td>
			<%= link_to 'edit photo', edit_album_photo_path(album_id: @album.id, id: photo.id) %> 
		</td>
		<td> 
			<%= link_to 'delete photo', album_photo_path(album_id: @album.id, id: photo.id), method: :delete %> 		
		</td>
		<% end %>
	</tr>
</table>


<%= link_to 'new photo', new_album_photo_path(album_id: @album.id) %>
