<div class = "container">
<div class = "row">
<h2><%= @album.name %></h2>
		<table class = "table">
			<thead>
				<th> Album Name </th>
				<th> Description </th>
				<th> Updated </th>
				<th> User </th>
				<th> Edit </th>
				<th> Delete </th>
			</thead>

			<tbody>
				<tr>
					<td>
					<%= @album.name %> 
					</td>
					<td>
					<%= @album.description %>
					</td>
					<td>
					Updated at <%= @album.updated_at.strftime("%d %b %Y, %T") %>
					</td>
					<td>
					<%= @user.try(:email) %>
					</td>
					<td>
					<%= link_to edit_album_path(id: @album), class: 'btn btn-primary btn-xs' do%>
                	<i class = "glyphicon glyphicon-pencil"></i> 
                	<%end%>
					</td>

					<td>
					<%= link_to album_path(id: @album), 
					method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' do%>
                	<i class = "glyphicon glyphicon-remove"></i> 
                	<%end%>
					</td>
					</tr>
			</tbody>
		</table>
</div>
					

<div class = "row">
<h2>UPLOAD A PHOTO</h2>

<%= form_for @photo, url: album_photos_path(album_id: @album.id), method: :post do |f| %>
  
  <div class="field">
    <%= f.label :title %>
    <div class = "row">
    <%= f.text_field :title %>
  </div>
  </div>

  
   <div class="field">
    <%= f.label :description %>
    <div class = "row">
    <%= f.text_area :description %>
  </div>
  </div>


  <div class="field">
    <%= f.label :image %>
      <div class = "row">
    <%= f.file_field :image %>
  </div>
  </div>

  <div class = "row">
  <%= f.submit "Create" %>
  </div>
  <%end%>
 </div>
 </div>