<h1>EDIT A PHOTO</h1>

<%= form_for @photo, url: album_photo_path(album_id: @album.id, id: @photo.id), method: :put do |f| %>
  

  <div class="field">
    <%= f.label :title %>
    <div class = "row">
    <%= f.text_field :title %>
  </div>
  </div>

  
   <div class="field">
   
    <%= f.label :description %>
    <div class = "row">
    <%= f.text_area :description %>
  </div>
  </div>



  <div class="field">
      <div class = "row">
    <%= f.file_field :image %>
  </div>
  </div>

  <div class = "row">
  <%= f.submit "Update" %>
  </div>
  <%end%>