
<br/>
<br/>
<br/>
<br/>
<br/>

<div class="container">
		
	<%= form_for @comment, url: album_photo_comments_path(album_id: @album.id, photo_id: @photo.id), method: :post do |f| %>

		<p><%=	f.text_area :comments %></p>
		<%= f.submit 'Submit' %>

	<% end %>

	<% @photo.comments.order(created_at: :desc).each do |comment| %>

		<div>
		<p> <%= comment.comments %> by 
			<%= current_user.name %></p>
		<%= link_to 'Delete', album_photo_comment_path(album_id: @album.id, photo_id: @photo.id, id: comment.id),
				method: :delete,
				data: { confirm: 'Delete yes?' } %>

		</div>
			
	<% end %>

</div>
